/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Z-index alto para garantir que o modal esteja acima de outros elementos */
  }
  
  .modal-content {
    background: #121212;
    padding: 20px;
    border-radius: 8px;
    width: 477px;
    
    position: relative;
    height: 685px;
  }
  
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #232323;
  }
  